<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <receiver android:name="com.typ.chat_bot.AlarmReceiver" />

    </application>
</manifest>
